header {
  display: flex;

  .logo {
    width: 50%;
  }

  nav {
    width: 50%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }
}
